<app-web-header></app-web-header>

<!-- <section class="hero">

</section> -->
<div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
  <div class="carousel-inner ">
    <div *ngFor="let item of sliders; let i = index" class="carousel-item" [class.active]="i === 0">
      <img class="d-block w-100" [src]="item.imageUrl || 'assets/images/default-avatar.png'" [alt]="item.title">
      <div class="carousel-caption d-none d-md-block">
        <h1>{{item.title}}</h1>
        <p>{{item.shortDescription}}</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="categories">
  <h2>Shop by Category</h2>
  <div class="category-grid">
    @for (item of categories; track $index){
      <a routerLink="/birds-and-toys" class="category-item" >
        <img style="width: 210px; height: 140px;" [src]=" item.imageUrl ?  item.imageUrl : 'assets/images/default-avatar.png'" alt="{{item.name}}" />
        <span>{{item.name}}</span>
      </a>
    }
  </div>
</section>

<app-web-footer></app-web-footer>
<!-- Font Awesome CDN for icons -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>



