    <app-header></app-header>
    <div id="wrapper">
         <!-- Sidebar -->
        <app-sidebar></app-sidebar>
         <div class="single-channel-page" id="content-wrapper">
            <div class="single-channel-image">
               <img class="img-fluid" alt="" src="img/channel-banner.png">
               <div class="channel-profile">
                  <img class="channel-profile-img" alt="" src="img/s2.png">
                  <div class="social hidden-xs">
                     Social &nbsp;
                     <a class="fb" href="#">Facebook</a>
                     <a class="tw" href="#">Twitter</a>
                     <a class="gp" href="#">Google</a>
                  </div>
               </div>
            </div>
            <div class="single-channel-nav">
               <nav class="navbar navbar-expand-lg navbar-light">
                  <a class="channel-brand" href="#">Rizwan Khan <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span> <br> <small>COO at Fanfare Bangladesh Ltd</small></a>

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                           <a class="nav-link" >About</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link">Books</a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" >Videos <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link">Playlist</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link">Blogs</a>
                        </li>
                     </ul>
                     <form class="form-inline my-2 my-lg-0">
                        <input class="form-control form-control-sm mr-sm-1" type="search" placeholder="Search" aria-label="Search"><button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button> &nbsp;&nbsp;&nbsp; <button class="btn btn-outline-danger btn-sm" type="button">Subscribe <strong>1.4M</strong></button>
                     </form>
                  </div>
               </nav>
            </div>
            <div class="container-fluid">
               <div class="video-block section-padding">
                  <a routerLink="/admin/businessman-experience" class="btn mb-2 btn-success btn-sm">Back</a>
                 <div class="card">
                    <div class="row">
                      <div class="col-md-3 pl-4 p-3">
                        <div class="card p-3" style="width: 16rem;">
                          <img src="img/b1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text</p>
                            <a href="#" class="btn btn-success btn-sm">Buy Now</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 pl-4 p-3">
                        <div class="card p-3" style="width: 16rem;">
                          <img src="img/b1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text</p>
                            <a href="#" class="btn btn-success btn-sm">Buy Now</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 pl-4 p-3">
                        <div class="card p-3" style="width: 16rem;">
                          <img src="img/b1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text</p>
                            <a href="#" class="btn btn-success btn-sm">Buy Now</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 pl-4 p-3">
                        <div class="card p-3" style="width: 16rem;">
                          <img src="img/b1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text</p>
                            <a href="#" class="btn btn-success btn-sm">Buy Now</a>
                          </div>
                        </div>
                      </div>
                  </div>
                 </div>
                 <div class="card mt-3">
                    <div class="row">
                      <div class="col-md-3 pl-4 p-3">
                        <div class="card p-3" style="width: 16rem;">
                          <img src="img/b1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text</p>
                            <a href="#" class="btn btn-success btn-sm">Buy Now</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 pl-4 p-3">
                        <div class="card p-3" style="width: 16rem;">
                          <img src="img/b1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text</p>
                            <a href="#" class="btn btn-success btn-sm">Buy Now</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 pl-4 p-3">
                        <div class="card p-3" style="width: 16rem;">
                          <img src="img/b1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text</p>
                            <a href="#" class="btn btn-success btn-sm">Buy Now</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 pl-4 p-3">
                        <div class="card p-3" style="width: 16rem;">
                          <img src="img/b1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text</p>
                            <a href="#" class="btn btn-success btn-sm">Buy Now</a>
                          </div>
                        </div>
                      </div>
                  </div>
                 </div>
                  <nav aria-label="Page navigation example" class="mt-3">
                     <ul class="pagination justify-content-center pagination-sm mb-0">
                        <li class="page-item disabled">
                           <a tabindex="-1" href="#" class="page-link">Previous</a>
                        </li>
                        <li class="page-item active"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item">
                           <a href="#" class="page-link">Next</a>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
    </div>
