    <app-header></app-header>
    <div id="wrapper">
         <!-- Sidebar -->
        <app-sidebar></app-sidebar>
         <div class="single-channel-page" id="content-wrapper">
            <div class="single-channel-image">
               <img class="img-fluid" alt="" src="img/channel-banner.png">
               <div class="channel-profile">
                  <img class="channel-profile-img" alt="" src="img/new-businessman.png">
                  <div class="social hidden-xs">
                     Social &nbsp;
                     <a class="fb" href="#">Facebook</a>
                     <a class="tw" href="#">Twitter</a>
                     <a class="gp" href="#">Google</a>
                  </div>
               </div>
            </div>
            <div class="single-channel-nav">
               <nav class="navbar navbar-expand-lg navbar-light">
                  <a class="channel-brand">Md. Yusuf Hasan<span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span> <br> <small>COO at Fanfare Bangladesh Ltd</small></a>

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                           <a class="nav-link" routerLink="/user/user-about" >About</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" routerLink="/user/user-blog-post" >Blogs</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">Photos</a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" href="#">Videos <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">Idea Share</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" routerLink="/user/user-crowdfunding" >Crowdfunding</a>
                        </li>
                     </ul>
                     <form class="form-inline my-2 my-lg-0">
                        <input class="form-control form-control-sm mr-sm-1" type="search" placeholder="Search" aria-label="Search"><button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button> &nbsp;&nbsp;&nbsp; <button class="btn btn-outline-danger btn-sm" type="button">Subscribe <strong>1.4M</strong></button>
                     </form>
                  </div>
               </nav>
            </div>
            <div class="container-fluid">
               <div class="video-block section-padding">
                  <a routerLink="/user/new-businessman" class="btn mb-2 btn-success btn-sm">Back</a>
                  <a class="btn mb-2 btn-success btn-sm float-right"><i class="fas fa-edit text-success"></i></a>

                  <div class="card p-3">
                    <div class="card-body">
                      <div>
                        <h5 class="card-title">About</h5>
                        <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. </p>
                      </div>
                      <hr>
                        <div>
                          <h5 class="card-title">Company Name</h5>
                          <p class="card-text">Contrary to popular belief </p>
                        </div>
                        <hr>
                        <div>
                          <h5 class="card-title">Education</h5>
                          <p class="card-text">Contrary to popular belief </p>
                        </div>
                        <hr>
                        <div>
                          <h5 class="card-title">Skills</h5>
                          <p class="card-text">Contrary to popular belief </p>
                        </div>
                        <hr>
                        <div>
                          <h5 class="card-title">Trade Licence</h5>
                          <p class="card-text">Contrary to popular belief </p>
                        </div>
                        <hr>
                        <div>
                          <h5 class="card-title">Bank Statment</h5>
                          <p class="card-text">Contrary to popular belief </p>
                        </div>
                    </div>
                  </div>
               </div>
            </div>
         </div>
    </div>
