<aside class="sidebar" id="sidebar">
  <div class="logo">Shokerkaj</div>
  <nav class="nav-links">
    <div *ngFor="let item of sidebarItems" class="nav-item dropdown">

      <!-- No children: normal router link or click handler -->
      <a *ngIf="!item.children?.length" [routerLink]="!item.hasClickHandler ? item.route : null" href="#"
        (click)="item.hasClickHandler ? onItemClick(item, $event) : null" title="{{ item.label }}">

        <svg *ngIf="item.svgPath" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 24 24"
          fill="currentColor" aria-hidden="true">
          <path [attr.d]="item.svgPath"></path>
        </svg>
        <span>{{ item.label }}</span>
      </a>

      <!-- Has children: dropdown toggle -->
      <ng-container *ngIf="item.children?.length">
        <a href="#" class="nav-link dropdown-toggle" (click)="toggleDropdown(item); $event.preventDefault()"
          [attr.aria-expanded]="item.isOpen" title="{{ item.label }}">

          <svg *ngIf="item.svgPath" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 24 24"
            fill="currentColor" aria-hidden="true">
            <path [attr.d]="item.svgPath"></path>
          </svg>
          {{ item.label }}
        </a>

        <div class="dropdown-menu" *ngIf="item.isOpen">
          <a *ngFor="let child of item.children" [routerLink]="!child.hasClickHandler ? child.route : null" href="#"
            (click)="child.hasClickHandler ? onItemClick(child, $event) : null" class="dropdown-item"
            title="{{ child.label }}">
            <svg *ngIf="child.svgPath" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 24 24"
              fill="currentColor" aria-hidden="true">
              <path [attr.d]="child.svgPath"></path>
            </svg>
            {{ child.label }}
          </a>
        </div>
      </ng-container>

    </div>
  </nav>
</aside>
